services:
  postgres:
    image: postgres:latest
    container_name: postgres-finviz-test-app
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "55432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    labels:
      type: database

volumes:
  postgres_data: {}
